def pas_1(password, spl):
    def chr(ch):
        if 90 >= ord(ch) >= 65 or 122 >= ord(ch) >= 97:
            count=1
        else:
            count=0
        return count

    def spcl(ch, spl):
        if ch in spl:
            count=1
        else:
            count=0
        return count

    def num(ch):
        if 57 >= ord(ch) >= 48:
            count=1
        else:
            count=0
        return count

    def leng(password,spl):
        cl = []
        sl = []
        nl = []
        for j in range(0, len(password)):
            i=password[j]
            chr(i)
            spcl(i, spl)
            num(i)
            cl.append(chr(i))
            sl.append(spcl(i,spl))
            nl.append(num(i))
        cc = cl.count(1)
        sc = sl.count(1)
        nc = nl.count(1)
        if 7<=cc<=10 and 2<=sc<=5 and 2<=nc<=5:
            print("Strong")
        else:
            print("Weak")

    leng(password,spl)


def main():
    password = input("")
    spl = ('!', '@', '#', '$', '%', '&', '*')
    if  11<=len(password) <=14:
        pas_1(password, spl)
    else :
        print ("Weak")
        
        

main()
